global
  log stdout format raw local0
  pidfile /var/local/haproxy/haproxy.pid
  maxconn 1024
  user proxy

defaults
  mode http
  log global
  log-format "%ST %B %{+Q}r"
  option dontlognull
  option http-server-close
  option forwardfor except 127.0.0.0/8
  option redispatch
  retries 3
  timeout http-request 10s
  timeout queue 1m
  timeout connect 10s
  timeout client 1m
  timeout server 1m
  timeout http-keep-alive 10s
  timeout check 10s
  maxconn 1024

listen stats
  bind 0.0.0.0:4444
  mode http
  log global
  maxconn 30
  timeout client 100s
  timeout server 100s
  timeout connect 100s
  timeout queue 100s
  stats enable
  stats hide-version
  stats refresh 30s
  stats show-desc Rotating Tor HTTP proxy
  stats show-legends
  stats show-node
  stats uri /

frontend main
  bind 0.0.0.0:3128
  default_backend privoxy
  mode http

backend privoxy
  balance roundrobin
